@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
}

.container {
	width: 460px;
	margin: 0 auto;
}

.header {
	background: rgb(76, 184, 196);
	height: 216px;
}

.header__h1 {
	color: rgb(255, 255, 255);
	padding-top: 40px;
	font-size: 44px;
	font-weight: 700;
	line-height: 52px;
	text-align: center;
}

.header__search {
	margin-top: 20px;
	justify-content: center;
	display: flex;
}

.search__input {
	position: absolute;
	width: 460px;
	height: 54px;
		color: rgb(0, 0, 0);
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		text-align: left;
		padding-left: 15px;
		border: none;
		outline: none;
}

.search__btn {
	left: 170px;
	position: relative;
	z-index: 1;
	border-radius: 6px;
	background: rgb(237, 48, 82);
	cursor: pointer;
	width: 145px;
	height: 54px;
	border: none;
		color: rgb(255, 255, 255);
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
}

.main__card {
	gap: 0px;
	display: flex;
	padding: 30px;
	margin-top: 50px;
	width: 360px;
	height: 259px;
	border-radius: 6px;
	box-shadow: 0px 5px 20px 0px rgba(27, 108, 114, 0.25);
	background: rgb(255, 255, 255);
}

.card__title {
	color: rgb(0, 0, 0);
	font-size: 28px;
	font-weight: 500;
	line-height: 33px;
	text-align: left;
}

.card__temperature {
	margin-top: 20px;
	color: rgb(0, 0, 0);
	font-size: 92px;
	font-weight: 400;
	line-height: 100%;
	text-align: left;
}

.card__state {
	margin-top: 40px;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.card__img {
	margin-top: 50px;
}